div#isindexed-div {
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
    color: black;
    margin-top: 50px;
    background-color: white;
    border: 1px solid #e7e7e7;
  }

  .indexe-vert {
    background: #7ace62 !important;
    color: #1c3b51 !important;
    font-weight: bold;
}


.indexe-rouge {
  background: #f13a0c !important;
  color: #f7fafc !important;
  font-weight: bold;
}

.indexe-blanc {
  background: #fdfdfd !important;
  color: #1494e9 !important;
  font-weight: bold;
}

.margin-right-5 {
  margin-right: 5px;
}


/*Information par rapport */

.row-indexed {
  border: 1px solid #e7e7e7;
  margin: 20px 20px 0px 25px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 50px);
} 

.font-size-sm {
  font-size: 10px;
}

.font-weight-bolder {
  font-weight: 600;
}

.text-dark-75 {
  color: #3f4254;
}

.font-size-h5 {
  font-size: 14px;
}

.font-weight-bolder {
  font-weight: 600;
}

.row-indexed {
  display: flex;
}

.block-support {
  width: 200px;
  /* border: 1px solid green; */
}

.block-fav {
  /*border: 1px solid red;*/
  width: 30px;
  height: 30px;
  font-size: 30px;
  float: left;
}

.block-text {
  display: grid;
}

.fa-yellow {
  color: #ffa800;
}

.fa-red {
  color: #f64e60!important;
}

.fa-green {
  color: #24AA3D !important;
}

.fa-black {
  color: #b5b5c3!important;
}

.block-text-2 {
  display: grid;
  padding: 10px;
}

.block-support-2 {
  width: 300px;
}

.block-progress {
  float: right;
  margin-top: -22px;
  margin-right: -50px;
}

.block-fav-2 {
  width: 30px;
  height: 30px;
  font-size: 9px;
  float: left;
}

.btn-primary-is {
  background-color: #3699ff !important;
}
.btn-secondary-is {
  background-color: #8c878d !important;
}

.btn-success-is {
  background-color: #24aa3d !important;
}

.isindexed-text {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 12px;
  padding-top: 10px;
}

.mgl-1 {
  margin-left: 5px;
}

.mgl-2 {
  margin-left: 10px;
}

.mgr-1 {
  margin-right: 5px;
}

.mgr-2 {
  margin-right: 10px;
}